.data-neighbours {
  .loader,
  .message {
    margin-top: 3rem !important;
  }

  .neighbours {
    padding: 1rem 0.8rem 3rem 0.8rem;

    .neighbour {
      cursor: pointer;
      box-shadow: 0 0 0.7rem 0 rgba($color-dark-2, 0.5);
      color: $color-dark-3;
      border-radius: 0.7rem;
      background-color: $color-light;
      height: 36.5rem;
      overflow: hidden;

      img {
        width: 100%;
        height: 17rem;
        object-fit: cover;
        border-bottom: 0.1rem solid $color-light-2;
      }

      &__data {
        padding: 1.5rem;
      }

      &__name {
        font-size: 1.8rem;
      }

      &__region {
        font-size: 1.4rem;
        text-transform: uppercase;
        margin-bottom: 2rem;
        color: $color-dark-4;
      }

      &__row {
        font-size: 1.5rem;

        span {
          margin-right: 1.2rem;
        }

        &:not(:last-child) {
          margin-bottom: 0.5rem;
        }
      }
    }

    .swiper-pagination {
      margin-bottom: -1.2rem;

      &-bullet-active {
        background-color: $color-primary;
      }
    }
  }
}
